@import url('https://fonts.googleapis.com/css?family=Comfortaa|Covered+By+Your+Grace|Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*Fonts*/
#block-views-shopping-cart-block {
  margin: 0 auto;
  margin-left: 50px;
  /* LTR */
}
#block-views-shopping-cart-block .content {
  background-color: #ffffff;
  background-image: url('../images/shoppingbag.png');
  background-position: 5% 48%;
  box-shadow: 0px 0px 2px 1px #aaa;
  background-repeat: no-repeat;
  float: right;
  /* LTR */
  margin-left: -60px;
  /* LTR */
  padding-left: 50px;
  /* LTR */
}
#block-views-shopping-cart-block .content .view-shopping-cart .view-content,
#block-views-shopping-cart-block .content .view-shopping-cart .view-footer,
#block-views-shopping-cart-block .content .view-shopping-cart .view-empty {
  display: inline;
  float: left;
  /* LTR */
  font-family: "Comfortaa";
  font-weight: 400;
}
#block-views-shopping-cart-block .content .view-shopping-cart .view-content ul,
#block-views-shopping-cart-block .content .view-shopping-cart .view-content li {
  margin: 0;
  padding: 0;
}
#block-views-shopping-cart-block .content .view-shopping-cart .view-footer {
  display: block;
  float: none;
}
#block-views-shopping-cart-block .content .view-shopping-cart .view-empty,
#block-views-shopping-cart-block .content .view-shopping-cart .line-item-quantity {
  margin: 0;
  vertical-align: middle;
}
#block-views-shopping-cart-block .content .view-shopping-cart .view-empty p {
  float: left;
  /* LTR */
  line-height: 30px;
  margin: 0;
}
#block-views-shopping-cart-block .content .view-shopping-cart .line-item-summary {
  display: inline;
  float: left;
  /* LTR */
  height: 34px;
  line-height: 30px;
  margin: 0;
}
#block-views-shopping-cart-block .content .view-shopping-cart .line-item-summary .line-item-quantity {
  color: black;
  text-decoration: none;
}
#block-views-shopping-cart-block .content .view-shopping-cart .line-item-summary .line-item-total {
  color: #888888;
  float: left;
  /* LTR */
  font-family: "Comfortaa";
  font-weight: 300;
  height: 100%;
  line-height: 30px;
  padding: 0 12px 0 6px;
}
#block-views-shopping-cart-block .content .view-shopping-cart .line-item-summary .line-item-total-label {
  display: none;
}
#block-views-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links {
  background: #557b9d;
  clear: none;
  color: white;
  display: block;
  float: left;
  /* LTR */
  font-family: "Comfortaa";
  font-weight: 300;
  height: 100%;
  line-height: 30px;
  margin: 0 0 0 5px;
  /* LTR */
  padding: 0 10px;
}
#block-views-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links li {
  margin: 0;
  padding: 0;
}
#block-views-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links li p {
  margin: 0;
}
#block-views-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links li a {
  color: white;
  font-weight: 700;
}
#block-views-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links li a:hover {
  text-decoration: underline;
}
/**
* Payment blocks
*/
#block-menu-menu-payment-methods {
  color: #3f3f3f;
  padding: 10px;
}
#block-menu-menu-payment-methods h2 {
  display: none;
}
#block-menu-menu-payment-methods ul.menu {
  height: 40px;
  margin-bottom: 0;
}
#block-menu-menu-payment-methods ul.menu li {
  display: inline;
  float: left;
  /* LTR */
  margin: 0;
  text-align: center;
  width: 20%;
  padding: 0;
}
#block-menu-menu-payment-methods ul.menu li:first-child {
  padding-left: 10px;
  /* LTR */
}
#block-menu-menu-payment-methods ul.menu li a {
  background-position: 0 100%;
  background-repeat: no-repeat;
  display: block;
  height: 30px;
  margin: 5px 0px;
  text-indent: -9999px;
  width: 50px;
}
#block-menu-menu-payment-methods ul.menu li .visa {
  background-image: url('../images/picto_visa_premier.png');
}
#block-menu-menu-payment-methods ul.menu li .paypal {
  background-image: url('../images/picto_paypal.png');
}
#block-menu-menu-payment-methods ul.menu li .mastercard {
  background-image: url('../images/picto_mastercard.png');
}
#block-menu-menu-payment-methods ul.menu li .american-express {
  background-image: url('../images/picto_american_express.png');
}
#block-menu-menu-payment-methods ul.menu li .american-express {
  background-image: url('../images/picto_american_express.png');
}
#block-menu-menu-payment-methods ul.menu li .cheque {
  background-image: url('../images/picto-cheque.png');
}
/* Add to cart confirmation modal */
div.messages.commerce-add-to-cart-confirmation {
  width: 60%;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .added-product-title {
  font-family: "Raleway";
  color: #7f98b3;
  font-size: 20px;
  width: 80%;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-content .content .field-name-field-images {
  float: left;
  margin-right: 10px;
  width: auto;
  position: absolute;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-content .content .commerce-product-sku,
div.messages.commerce-add-to-cart-confirmation .message-inner .view-content .content .field-name-field-hh-color,
div.messages.commerce-add-to-cart-confirmation .message-inner .view-content .content .field-name-field-hl-size,
div.messages.commerce-add-to-cart-confirmation .message-inner .view-content .content .field-name-field-hh-size,
div.messages.commerce-add-to-cart-confirmation .message-inner .view-content .content .field-name-commerce-price,
div.messages.commerce-add-to-cart-confirmation .message-inner .view-content .content .views-field-quantity,
div.messages.commerce-add-to-cart-confirmation .message-inner .view-content .content .field-name-title-field {
  color: #878380;
  font-size: 12px;
  margin-right: 20px;
  margin-left: 120px;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-content .views-field-quantity {
  color: #878380;
  font-size: 12px;
  margin-right: 20px;
  margin-left: 120px;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-content .views-field-commerce-total {
  margin-left: 120px;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .view-content .views-field-commerce-total .field-content {
  color: #557b9d;
  display: inline;
  float: none;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper {
  background: #f7f7f7;
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.checkout {
  background: #557b9d;
  font-family: "Comfortaa";
}
div.messages.commerce-add-to-cart-confirmation .message-inner .button-wrapper .button.continue {
  font-family: "Comfortaa";
  background-color: #a3a3a3;
}
/* Cart pane before checkout */
.view-commerce-cart-form .entity-commerce-product .field-name-field-images {
  float: left;
  display: inline;
  margin-right: 15px;
}
.view-commerce-cart-form .entity-commerce-product .field-label-inline .field-label {
  display: inline-block;
}
.view-commerce-cart-form .entity-commerce-product .field-label-inline .field-items {
  display: inline-block;
}
.view-commerce-cart-form .views-field-edit-delete .delete-line-item {
  background: none;
  border: none;
  color: #a3a3a3;
}
.view-commerce-cart-form .views-field-edit-delete .delete-line-item:hover {
  text-decoration: underline;
}
.view-commerce-cart-form table tbody tr.odd,
.view-commerce-cart-form table tbody tr.even {
  background: none;
}
/*Ajax Cart Loader */
#commerce-ajax-cart-preview {
  background-color: white !important;
  position: absolute ;
  background: white ;
  padding: 1em ;
  box-sizing: content-box;
  box-shadow: 3px 3px 3px #ccc;
}
#commerce-ajax-cart-preview.loading {
  min-height: 100px ;
  min-width: 100px ;
  background: no-repeat center center url(../images/ajax-loader.gif);
}
.view-id-shopping_cart {
  cursor: pointer ;
}
/**********************************************
* 5.4. Checkout process
**********************************************/
/**
* Checkout progress
*/
ul.inline.commerce-checkout-progress li {
  display: block;
  float: left;
}
ul.inline.commerce-checkout-progress,
ol.inline.commerce-checkout-progress {
  margin-bottom: 15px;
  margin-left: 10px;
}
ul.inline.commerce-checkout-progress li,
ol.inline.commerce-checkout-progress li {
  background-color: #efefef;
  color: #898A8C;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0px 10px 0;
  padding: 15px 15px 15px 35px;
  /* LTR */
  position: relative;
  width: auto;
  list-style: none;
}
ul.inline.commerce-checkout-progress li:after,
ol.inline.commerce-checkout-progress li:after {
  background: transparent url('../images/bg_checkout_progress.png') right center no-repeat;
  /* LTR */
  content: " ";
  font-size: 0;
  display: block;
  float: right;
  /* LTR */
  position: absolute;
  top: 0;
  right: -25px;
  /* LTR */
  height: 50px;
  width: 25px;
  z-index: 2;
}
ul.inline.commerce-checkout-progress li.last:after,
ol.inline.commerce-checkout-progress li.last:after {
  background: #efefef url('../images/bg_checkout_progress_last.png') right center no-repeat;
  /* LTR */
}
ul.inline.commerce-checkout-progress li.active,
ol.inline.commerce-checkout-progress li.active,
ul.inline.commerce-checkout-progress li.last.active,
ol.inline.commerce-checkout-progress li.last.active {
  background-color: #7f98b3;
  color: #ffffff;
}
ul.inline.commerce-checkout-progress li.active:after,
ol.inline.commerce-checkout-progress li.active:after,
ul.inline.commerce-checkout-progress li.last.active:after,
ol.inline.commerce-checkout-progress li.last.active:after {
  background: transparent url('../images/bg_checkout_progress_active.png') right center no-repeat;
  /* LTR */
}
ul.inline.commerce-checkout-progress li.previous,
ol.inline.commerce-checkout-progress li.previous,
ul.inline.commerce-checkout-progress li.visited,
ol.inline.commerce-checkout-progress li.visited {
  color: rgba(76, 175, 80, 0.48);
}
ul.inline.commerce-checkout-progress li.previous a,
ol.inline.commerce-checkout-progress li.previous a,
ul.inline.commerce-checkout-progress li.visited a,
ol.inline.commerce-checkout-progress li.visited a {
  color: rgba(76, 175, 80, 0.48);
}
ul.inline.commerce-checkout-progress li a,
ol.inline.commerce-checkout-progress li a {
  font-size: 16px;
  font-weight: 700;
}
/* Checkout Form */
#commerce-checkout-form-checkout fieldset,
#commerce-checkout-form-shipping fieldset,
#commerce-checkout-form-review fieldset {
  background: none;
  border: none;
  box-shadow: none;
}
#commerce-checkout-form-checkout fieldset legend,
#commerce-checkout-form-shipping fieldset legend,
#commerce-checkout-form-review fieldset legend {
  text-transform: uppercase;
  background: none;
  border: none;
}
#commerce-checkout-form-checkout .pane-title,
#commerce-checkout-form-shipping .pane-title,
#commerce-checkout-form-review .pane-title {
  background: none;
  border: none;
}
#commerce-checkout-form-checkout .pane-title > td,
#commerce-checkout-form-shipping .pane-title > td,
#commerce-checkout-form-review .pane-title > td {
  text-transform: uppercase;
  background: none;
  border: none;
}
.commerce_stock_notifications_fieldset {
  margin-top: 15px;
}
/* Disable add to cart confirmation on mobile ! */
@media only screen and (max-width: 480px) {
  div div.messages.commerce-add-to-cart-confirmation {
    z-index: 0;
    display: none;
  }
  .commerce_add_to_cart_confirmation_overlay {
    z-index: 0;
    display: none;
  }
}
/* Adaptation of responsive table for Drupal Commerce and DolceVita */
@media only screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .commerce-order-handler-area-order-total .commerce-price-formatted-components {
    width: 100% !important;
  }
  .commerce-order-handler-area-order-total .commerce-price-formatted-components .component-total {
    font-weight: bolder;
  }
  .views-table td {
    /* Behave  like a "row" */
    border: none !important;
  }
  .views-table td .form-control {
    max-width: 50px;
    display: inline-block;
  }
}
