@import url('https://fonts.googleapis.com/css?family=Comfortaa|Covered+By+Your+Grace|Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*Fonts*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nothing you could do";
  font-weight: 700;
  letter-spacing: 0;
}
