@import url('https://fonts.googleapis.com/css?family=Comfortaa|Covered+By+Your+Grace|Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*Fonts*/
@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
}
@media (max-width: 980px) {
  #navbar .tb-megamenu .tb-megamenu-button {
    margin: 0 auto;
    float: none;
    background: #0d3349;
    background-repeat: repeat;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
    border-right: 1px solid white;
    border-radius: 0;
    padding: 0;
    border-left: 1px solid white;
  }
  #navbar .tb-megamenu .tb-megamenu-button::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 4px;
    background: url('../images/menu_35.png');
  }
}
#navbar {
  border-top: 4px solid #0d3349;
  background-color: #557b9d;
  clear: both;
}
#navbar .tb-megamenu .nav {
  text-align: center;
}
#navbar .tb-megamenu .nav li > a {
  border: none;
  font-weight: normal;
  text-transform: uppercase;
  background: transparent !important;
}
#navbar .tb-megamenu .nav li {
  float: none;
  display: inline-block;
}
#navbar .tb-megamenu .nav li a:hover,
#navbar .tb-megamenu .nav li a:active,
#navbar .tb-megamenu .nav li a:focus {
  background: #557b9d;
  color: #0d3349;
}
#navbar .tb-megamenu .nav li.active a {
  background: #0d3349;
}
#navbar .tb-megamenu .nav li.active a:hover,
#navbar .tb-megamenu .nav li.active a:active,
#navbar .tb-megamenu .nav li.active a:focus {
  background: #0d3349;
  color: white;
}
#navbar .btn-navbar:hover,
#navbar .btn-navbar:focus,
#navbar .btn-navbar:active,
#navbar .btn-navbar.active,
#navbar .btn-navbar.disabled,
#navbar .btn-navbar[disabled] {
  color: #fff;
  background-color: transparent;
  *background-color: transparent;
}
#navbar .tb-megamenu .nav > li > a:focus,
#navbar .tb-megamenu .nav > li > a:hover {
  background: #557b9d;
}
#navbar .nav-collapse {
  background: #557b9d;
  top: -10px;
  box-shadow: 1px 2px 5px #222;
}
@media (max-width: 767px) {
  a.tb-megamenu-button {
    position: absolute;
    height: 40px;
    width: 40px;
    left: 100px;
    top: 20px;
    z-index: 999;
  }
  a.tb-megamenu-button::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 4px;
    background: url('../images/menu_40.png');
  }
}
@media (min-width: 768px) {
  a.tb-megamenu-button {
    position: absolute;
    height: 90px;
    width: 90px;
    left: 200px;
    top: 25px;
    z-index: 999;
  }
  a.tb-megamenu-button::before {
    content: "";
    display: inline-block;
    width: 90px;
    height: 90px;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 4px;
    background: url('../images/menu_100.png');
  }
  #navbar .nav-collapse {
    box-shadow: none;
  }
}
