@import url('https://fonts.googleapis.com/css?family=Comfortaa|Covered+By+Your+Grace|Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*Fonts*/
@font-face {
  font-family: "JandaQuickNote";
  src: url("../fonts/JandaQuickNote.ttf") format("truetype");
}
/*Attributes colors */
.form-item-attributes-field-color .form-item.form-item-attributes-field-color {
  float: left;
  /* LTR */
  margin-right: 5px;
  /* LTR */
  width: auto;
}
.form-item-attributes-field-color .commerce-fancy-attributes-color {
  height: 20px;
  width: 20px;
}
.form-item-attributes-field-color .description .field {
  border: 1px solid #CBCDCC;
  padding: 3px;
}
.form-item-attributes-field-color .description-selected .field {
  border-color: #7f98b3;
}
.field-name-field-gallery .field-item {
  margin: 0 auto;
  width: 220px;
}
.field-name-field-gallery .field-slideshow-wrapper {
  position: relative;
}
.field-name-field-gallery .field-slideshow-wrapper .field-slideshow-controls .prev {
  position: absolute;
  top: 75px;
  left: -25px;
}
.field-name-field-gallery .field-slideshow-wrapper .field-slideshow-controls .next {
  position: absolute;
  top: 75px;
  right: -25px;
}
.field-name-field-images .field-item.odd {
  background: white;
}
.field-name-field-images .field-item {
  background: #f7f7f7;
}
.field-name-field-images .field-item img {
  margin: 0 auto;
  background: #F7F7F7;
}
/* PRODUCT DISPLAY */
/*
@media (max-width: 768px) {
  .node-product-type {
    .informations {
      #toggle-informations {
        display: block;
        margin: 0 auto;
        width: auto;
      }
      #informations-inside {
        display: none;
      }
    }
  }
}
@media (min-width: 768px) {
  .node-product-type {
    .informations {
      #toggle-informations {
        display: none !important;

      }
      #informations-inside {
        display: block !important;
      }
    }
  }
}
*/
@media (max-width: 1024px) {
  .node-product-type .achats .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit {
    font-size: 16px;
  }
  .node-product-type .achats .field-type-commerce-product-reference form.commerce-add-to-cart label {
    width: 100%;
    display: block;
  }
}
@media (max-width: 767px) {
  .node-product-type .achats .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit {
    font-size: 20px;
  }
  .node-product-type .achats .field-type-commerce-product-reference form.commerce-add-to-cart label {
    width: 100%;
    display: block;
  }
  .node-product-type .achats .field-type-commerce-product-reference .form-item-quantity label {
    width: 30% !important;
  }
}
.node-product-type .header-product .field {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 40px;
}
.node-product-type .header-product .field .field-label {
  color: #557b9d;
  display: inline-block;
}
.node-product-type .header-product .field .field-items {
  color: black;
  display: inline-block;
}
.node-product-type .header-product .commerce-product-extra-field-sku {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 40px;
}
.node-product-type .header-product .commerce-product-extra-field-sku .commerce-product-sku {
  color: black;
}
.node-product-type .header-product .commerce-product-extra-field-sku .commerce-product-sku .commerce-product-sku-label {
  font-weight: normal;
  color: #557b9d;
}
.node-product-type .header-product .commerce-product-field-title-field .field-item {
  clear: both;
  font-family: "JandaQuickNote";
  font-size: 28px;
  font-weight: 700;
}
.node-product-type .visuel {
  margin-bottom: 20px;
}
.node-product-type .visuel .field-item {
  margin-bottom: 10px;
}
.node-product-type .informations,
.node-product-type .achats {
  padding: 15px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
}
.node-product-type .informations .field .field-label,
.node-product-type .achats .field .field-label,
.node-product-type .informations .field label,
.node-product-type .achats .field label {
  font-size: 18px;
  color: #557b9d;
  display: inline-block;
}
.node-product-type .informations .field-name-commerce-price,
.node-product-type .achats .field-name-commerce-price {
  text-align: center;
}
.node-product-type .informations .field-name-commerce-price .saving-wrapper,
.node-product-type .achats .field-name-commerce-price .saving-wrapper {
  position: absolute;
  top: -27px;
}
.node-product-type .informations .field-name-commerce-price .webprice-wrapper,
.node-product-type .achats .field-name-commerce-price .webprice-wrapper {
  margin-right: 20px;
}
.node-product-type .field-type-youtube .field-item {
  margin-bottom: 15px;
}
.node-product-type .field-name-field-gallery {
  margin-top: 15px;
}
.node-product-type .field-name-field-product-brochure {
  margin-bottom: 15px;
}
.node-product-type .field-name-field-product-brochure .field-items {
  display: inline-block;
}
.node-product-type .field-name-commerce-price {
  font-family: "JandaQuickNote";
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.node-product-type .cloud-zoom-container {
  margin-bottom: 20px;
}
.node-product-type .cloud-zoom-container #wrap {
  float: inherit;
  z-index: 10 !important;
  /* Fix overlay */
}
.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs {
  clear: both;
}
.node-product-type .cloud-zoom-container .cloud-zoom-gallery-thumbs .cloud-zoom-gallery {
  border: 1px solid #5b5b5b;
  display: inline-block;
  float: none;
  margin: 5px 0;
}
.node-product-type .field-name-body {
  font-family: "Raleway";
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}
.node-product-type .field-name-body .read-more,
.node-product-type .field-name-body .read-less,
.node-product-type .field-name-body .read-more a,
.node-product-type .field-name-body .read-less a {
  font-size: 14px;
  font-weight: 400;
}
.node-product-type .field-name-body .read-more a,
.node-product-type .field-name-body .read-less a {
  background-position: left top;
  /* LTR */
  background-repeat: no-repeat;
  color: #898a8c;
  display: block;
  height: 18px;
  margin-top: 10px;
  padding-right: 20px;
  /* LTR */
  text-decoration: none;
  text-indent: 25px;
  text-transform: capitalize;
}
.node-product-type .field-name-body .read-more a:hover,
.node-product-type .field-name-body .read-less a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.node-product-type .field-name-body .read-more a {
  background-image: url('../images/btn_read_more.png');
}
.node-product-type .field-name-body .read-less a {
  background-image: url('../images/btn_read_less.png');
}
.node-product-type .field-type-commerce-product-reference {
  margin-bottom: 15px;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-control {
  width: auto;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item {
  position: relative;
  /* Positions the throbber */
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item div#edit-attributes-field-color {
  float: left;
  /* LTR */
  width: 50%;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item .ajax-progress-throbber {
  /* Positions the throbber */
  display: none;
  position: absolute;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item .description {
  position: relative;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item-attributes-field-color .form-item.form-item-attributes-field-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-hh-color .form-item.form-item-attributes-field-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-games-color .form-item.form-item-attributes-field-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-lead-color .form-item.form-item-attributes-field-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item-attributes-field-color .form-item.form-item-attributes-field-hh-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-hh-color .form-item.form-item-attributes-field-hh-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-games-color .form-item.form-item-attributes-field-hh-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-lead-color .form-item.form-item-attributes-field-hh-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item-attributes-field-color .form-item-attributes-field-games-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-hh-color .form-item-attributes-field-games-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-games-color .form-item-attributes-field-games-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-lead-color .form-item-attributes-field-games-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item-attributes-field-color .form-item-attributes-field-lead-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-hh-color .form-item-attributes-field-lead-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-games-color .form-item-attributes-field-lead-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-lead-color .form-item-attributes-field-lead-color {
  float: left;
  /* LTR */
  margin-right: 5px;
  /* LTR */
  width: auto;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item-attributes-field-color .form-item.form-item-attributes-field-color label,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-hh-color .form-item.form-item-attributes-field-color label,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-games-color .form-item.form-item-attributes-field-color label,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-lead-color .form-item.form-item-attributes-field-color label,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item-attributes-field-color .form-item.form-item-attributes-field-hh-color label,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-hh-color .form-item.form-item-attributes-field-hh-color label,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-games-color .form-item.form-item-attributes-field-hh-color label,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-lead-color .form-item.form-item-attributes-field-hh-color label,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item-attributes-field-color .form-item-attributes-field-games-color label,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-hh-color .form-item-attributes-field-games-color label,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-games-color .form-item-attributes-field-games-color label,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-lead-color .form-item-attributes-field-games-color label,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item-attributes-field-color .form-item-attributes-field-lead-color label,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-hh-color .form-item-attributes-field-lead-color label,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-games-color .form-item-attributes-field-lead-color label,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-lead-color .form-item-attributes-field-lead-color label {
  display: none;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item-attributes-field-color .commerce-fancy-attributes-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-hh-color .commerce-fancy-attributes-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-games-color .commerce-fancy-attributes-color,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-lead-color .commerce-fancy-attributes-color {
  height: 20px;
  width: 20px;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item-attributes-field-color .description .field,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-hh-color .description .field,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-games-color .description .field,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-lead-color .description .field {
  border: 1px solid #CBCDCC;
  padding: 3px;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item-attributes-field-color .description-selected .field,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-hh-color .description-selected .field,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-games-color .description-selected .field,
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .attribute-widgets .form-item.form-item-attributes-field-lead-color .description-selected .field {
  border-color: #494949;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart label {
  float: left;
  /* LTR */
  font-family: "Raleway";
  font-weight: 600;
  margin-right: 5px;
  /* LTR */
  white-space: nowrap;
  width: 45%;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart label:after {
  content: " :";
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-item {
  margin: 0;
  padding-bottom: 1em;
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit {
  background-color: #7f98b3;
  background-image: url('../images/bg_shopping_bag.png');
  background-position: 96% 30%;
  /* LTR */
  background-repeat: no-repeat;
  border: 0;
  color: #ffffff;
  font-family: "JandaQuickNote";
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
  margin: 20px auto;
  display: block;
  padding: 5px 50px 5px 10px;
  /* LTR */
}
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit:hover {
  cursor: pointer;
}
#block-dolce-discount-shipping-discount {
  /* HP blocks: Side advert */
  clear: both;
  position: absolute;
  left: -50px;
  top: 185px;
  z-index: 100;
}
@media (max-width: 1024px) {
  #block-dolce-discount-shipping-discount {
    left: 20px;
  }
}
@media (max-width: 640px) {
  #block-dolce-discount-shipping-discount {
    position: relative;
    left: 0px;
    top: 0;
    width: 100%;
  }
}
#block-dolce-discount-shipping-discount #shipping {
  background-color: #557b9d;
  border: 6px solid #ccc;
  color: white;
  display: block;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
  padding: 10px 5px 20px 5px;
}
#block-dolce-discount-shipping-discount #shipping #shipping_message span {
  border-bottom: 1px solid #ffffff;
  display: block;
  color: white;
  font-size: 18px;
  padding: 10px 0 4px 0;
  text-transform: uppercase;
}
#block-dolce-discount-shipping-discount #shipping #shipping_message span em {
  font-size: 14px;
  font-style: normal;
}
#block-dolce-discount-shipping-discount #shipping #shipping_currency {
  display: block;
  font-size: 27px;
  margin-top: 2px;
}
#block-dolce-discount-shipping-discount #shipping #shipping_message {
  font-family: "Raleway";
  font-weight: 400;
}
#block-dolce-discount-shipping-discount #shipping #shipping_message span,
#block-dolce-discount-shipping-discount #shipping #shipping_message span em,
#block-dolce-discount-shipping-discount #shipping #shipping_currency {
  font-family: "Raleway";
  font-weight: 700;
}
