@import url('https://fonts.googleapis.com/css?family=Comfortaa|Covered+By+Your+Grace|Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=Raleway');
/*Fonts*/
.profile h3 {
  background: #f4f4f4;
  padding: 8px;
  color: #2B3E50;
}
.profile ul {
  list-style: none;
}
.profile ul li a {
  border: 1px solid #D8D8D8;
  display: inline-block;
  padding: 5px 10px;
  margin: 10px 0;
  bottom: 10px;
}
.profile ul li #commerce_backoffice_user_orders a {
  border: none;
  display: inherit;
  padding: 0;
  margin: 0;
}
.block-dolce-user-links {
  display: inline-block;
}
.block-dolce-user-links #dolce-user-links-block {
  position: relative;
  font-family: "Comfortaa";
  font-weight: 400;
  max-width: 130px;
  text-align: center;
  display: inline-block;
}
.block-dolce-user-links #dolce-user-links-block a,
.block-dolce-user-links #dolce-user-links-block span {
  display: block;
  text-decoration: none;
}
.block-dolce-user-links #dolce-user-links-block .dolce-user-links {
  background-image: url('../images/account_anonymous60.png');
  height: 60px;
  width: 60px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.block-dolce-user-links #dolce-user-links-block .dolce-user-links.login-connected {
  background-image: url('../images/account_picto_connected60.png');
}
