
#block-mailchimp-signup-dolcevitadog-mailchimp {
  text-align: center;
  background: #323435;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  #mailchimp-signup-subscribe-block-dolcevitadog-mailchimp-form {
    text-align: center;
    input {
      width: 320px;
      margin: 10px auto;
    }
    .form-actions {
      margin: 10px;
    }
  }

}