@import "variables.less";

.zone-user-wrapper {
  @media (max-width: 380px) {
    position: relative;
    max-height: 100%;
  }

  .region-user-long {
    text-align: center;
    padding: 0px;
  }
  .region-user-first {
    padding: 0;
  }
  .region-user-second {
    padding: 0;
    padding-top: 20px;
    div {
      margin: 0px 10px;
    }
  }
  .block-dolce-cart, .block-dolce-user-links {
    float: right;
    a{
      color: #000000;
    }
    a:hover {
      color: @zoneuserbg;
    }
  }
}

 .region-user-first {
  float: left; /* LTR */
}

 /* Menu */

.navbar.container, .navbar.container-fluid {
  //padding-top: 46px;
  margin: 0 auto;
}

/* Footer */

.footer {
  background: @footer_bg;
  color: #fefefe;
  a {
    color: @zoneuserbg;
  }
  .block {
    margin-bottom: 15px;
    @media (max-width: 660px) {
      margin: 15px auto;
      max-width: 300px;
      float: none;
    }
  }
}

.footer-bottom {
  background: @footer_bottom_bg;
}

.popover{
  max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

.view-highlight {
  .views-row {
    margin: 15px auto;
  }
  @media (max-width: 660px) {
    margin: 15px auto;
    max-width: 300px;
    float: none;
  }
}

@media (max-width: 420px) {
  .nomobile {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 0;
  }
}
.jumbotron {
  padding: 0;
  margin-bottom: 0px;
}
.highlight-bottom {
  background: #f2f2f2;
  padding: 25px 0px 15px 0px;
}