@import "variables.less";

/*Attributes colors */
.form-item-attributes-field-color {
  .form-item.form-item-attributes-field-color {
    float: left; /* LTR */
    margin-right: 5px; /* LTR */
    width: auto;
  }
  .commerce-fancy-attributes-color {
    height: 20px;
    width: 20px;
  }
  .description .field {
    border: 1px solid #CBCDCC;
    padding: 3px;
  }
  .description-selected .field {
    border-color: #7f98b3;
  }
}

.field-name-field-gallery {
  .field-item {
    margin: 0 auto;
    width: 220px;
  }
  .field-slideshow-wrapper {
    position: relative;
    .field-slideshow-controls {
      .prev {
        position: absolute;
        top: 75px;
        left: -25px;
      }
      .next {
        position: absolute;
        top: 75px;
        right: -25px;
      }
    }
  }
}
.field-name-field-images {
  .field-item.odd {
    background: white;
  }
  .field-item {
    background: #f7f7f7;
    img {
      margin: 0 auto;
      background: #F7F7F7;
    }
  }
}

/* PRODUCT DISPLAY */

/*
@media (max-width: 768px) {
  .node-product-type {
    .informations {
      #toggle-informations {
        display: block;
        margin: 0 auto;
        width: auto;
      }
      #informations-inside {
        display: none;
      }
    }
  }
}
@media (min-width: 768px) {
  .node-product-type {
    .informations {
      #toggle-informations {
        display: none !important;

      }
      #informations-inside {
        display: block !important;
      }
    }
  }
}
*/
@media (max-width: 1024px) {
  .node-product-type {
    .achats {
      .field-type-commerce-product-reference {
        form.commerce-add-to-cart {
          .form-submit {
            font-size: 16px;
          }
        }
      }
      .field-type-commerce-product-reference {
        form.commerce-add-to-cart {
          label {
            width: 100%;
            display: block;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .node-product-type {
    .achats {
      .field-type-commerce-product-reference {
        form.commerce-add-to-cart {
          .form-submit {
            font-size: 20px;
          }
        }
      }
      .field-type-commerce-product-reference {
        form.commerce-add-to-cart {
          label {
            width: 100%;
            display: block;
          }
        }
        .form-item-quantity {
          label {
            width: 30% !important;
          }
        }
      }
    }
  }
}
.node-product-type {

  .header-product {
    .field {
      display: inline-block;
      font-size: 20px;
      margin-bottom: 10px;
      margin-right: 40px;
      .field-label {
        color: @checkoutheader;
        display: inline-block;
      }
      .field-items {
        color: black;
        display: inline-block;
      }
    }
    .commerce-product-extra-field-sku {
      display: inline-block;
      font-size: 20px;
      margin-bottom: 10px;
      margin-right: 40px;
      .commerce-product-sku {
        color: black;
        .commerce-product-sku-label {
          font-weight: normal;
          color: @checkoutheader;
        }
      }
    }
    .commerce-product-field-title-field {
      .field-item {
        clear: both;
        font-family: @headerfont;
        font-size: 28px;
        font-weight: 700;
      }
    }
  }
  .visuel {
    margin-bottom: 20px;
    .field-item {
      margin-bottom: 10px;
    }
  }
  .informations, .achats {
    padding: 15px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    .field {
      .field-label, label {
        font-size: 18px;
        color: @checkoutheader;
        display: inline-block;
      }
    }
    .field-name-commerce-price {
      text-align:center;
      .saving-wrapper {
        position: absolute;
        top: -27px;
      }
      .webprice-wrapper {
        margin-right: 20px;
      }
    }
  }
  .field-type-youtube {
    .field-item {
      margin-bottom: 15px;
    }
  }
  .field-name-field-gallery {
    margin-top: 15px;
  }

  .field-name-field-product-brochure {
    margin-bottom: 15px;
    .field-items {
      display: inline-block;
    }
  }

  .field-name-commerce-price {
    font-family: @headerfont;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .cloud-zoom-container {
    margin-bottom: 20px;
    #wrap {
      float: inherit;
      z-index: 10 !important; /* Fix overlay */
    }
    .cloud-zoom-gallery-thumbs {
      clear: both;

      .cloud-zoom-gallery {
        border: 1px solid #5b5b5b;
        display: inline-block;
        float: none;
        margin: 5px 0;
      }
    }
  }
  .field-name-body {
    font-family: @textfont;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;

    .read-more,
    .read-less,
    .read-more a,
    .read-less a {
      //font-family: @headerfont;
      font-size: 14px;
      font-weight: 400;
    }
    .read-more a,
    .read-less a {
      background-position: left top; /* LTR */
      background-repeat: no-repeat;
      color: #898a8c;
      display: block;
      height: 18px;
      margin-top: 10px;
      padding-right: 20px; /* LTR */
      text-decoration: none;
      text-indent: 25px;
      text-transform: capitalize;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .read-more a {
      background-image: url('../images/btn_read_more.png');
    }
    .read-less a {
      background-image: url('../images/btn_read_less.png');
    }
  }
  .field-type-commerce-product-reference {
    margin-bottom: 15px;

    form.commerce-add-to-cart {
      .form-control {
        width: auto;
      }
      .attribute-widgets {
        .form-item {
          position: relative; /* Positions the throbber */

          &:after {
            clear: both;
            content: ".";
            display: block;
            height: 0;
            visibility: hidden;
          }
          div#edit-attributes-field-color {
            float: left; /* LTR */
            width: 50%;
          }
          .ajax-progress-throbber { /* Positions the throbber */
            display: none;
            position: absolute;
          }
          .description {
            position: relative;
          }
        }
        .form-item-attributes-field-color, .form-item.form-item-attributes-field-hh-color, .form-item.form-item-attributes-field-games-color {
          .form-item.form-item-attributes-field-color, .form-item.form-item-attributes-field-hh-color, .form-item-attributes-field-games-color {
            float: left; /* LTR */
            margin-right: 5px; /* LTR */
            width: auto;
            label {
              display: none;
            }
          }
          .commerce-fancy-attributes-color {
            height: 20px;
            width: 20px;
          }
          .description .field {
            border: 1px solid #CBCDCC;
            padding: 3px;
          }
          .description-selected .field {
            border-color: @footer_bg;
          }
        }
      }
      label {
        float: left; /* LTR */
        font-family: @textfont;
        font-weight: 600;
        margin-right: 5px; /* LTR */
        white-space: nowrap;
        width: 45%;

        &:after {
          content: " :";
        }
      }
      .form-item {
        margin: 0;
        padding-bottom: 1em;
      }
      .form-submit {
        background-color: @zoneuserbg;
        background-image: url('../images/bg_shopping_bag.png');
        background-position: 96% 30%; /* LTR */
        background-repeat: no-repeat;
        border: 0;
        color: #ffffff;
        font-family: @headerfont;
        font-size: 20px;
        font-weight: 400;
        margin-top: 40px;
        margin: 20px auto;
        display: block;
        padding: 5px 50px 5px 10px; /* LTR */

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

#block-dolce-discount-shipping-discount {
  /* HP blocks: Side advert */
  clear: both;
  position: absolute;
  left: -50px;
  top: 185px;
  z-index: 100;
  @media (max-width: 1024px) {
    left: 20px;
  }
  @media (max-width: 640px){
    position: relative;
    left: 0px;
    top: 0;
    width: 100%;
  }
  #shipping {
    background-color: #557b9d;
    border: 6px solid #ccc;
    color: white;
    display: block;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
    padding: 10px 5px 20px 5px;
  }

  #shipping #shipping_message span {
    border-bottom: 1px solid #ffffff;
    display: block;
    color: white;
    font-size: 18px;
    padding: 10px 0 4px 0;
    text-transform: uppercase;
  }
  #shipping #shipping_message span em {
    font-size: 14px;
    font-style: normal;
  }
  #shipping #shipping_currency {
    display: block;
    font-size: 27px;
    margin-top: 2px;
  }
  #shipping #shipping_message {
    font-family: @textfont;
    font-weight: 400;
  }
  #shipping #shipping_message span,
  #shipping #shipping_message span em,
  #shipping #shipping_currency {
    font-family: @textfont;
    font-weight: 700;
  }
}