@import "variables.less";

.profile {
  h3 {
    background: #f4f4f4;
    padding: 8px;
    color: #2B3E50;
  }
  ul {
    list-style: none;

    li a {
      border: 1px solid #D8D8D8;
      display: inline-block;
      padding: 5px 10px;
      margin: 10px 0;
      bottom: 10px;
    }
    li {
      #commerce_backoffice_user_orders a {
        border: none;
        display: inherit;
        padding: 0;
        margin: 0;
      }
    }
  }
}
#commerce-addressbook-customer-profile-form {
  max-width: 640px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #1a1a1a;
  #edit-actions {
    text-align: center;
  }
}

#user-login, #user-register-form, #user-pass, #user-profile-form {
  max-width: 640px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #1a1a1a;
  text-align: center;
  #user_login_form, #user_register_form, #user_pass_form, #edit-account {
    border: none;
    padding-bottom: 10px;
    .form-type-password-confirm, .form-type-password {
      float: none;
      margin: auto;
      max-width: 240px;
      width: 100%;
      .help-block {
        position: inherit;
        border: none;
        padding: 0;
        ul {
          text-align: left;
          max-width: 240px;
          margin: 0 auto;

        }
      }
    }
    }
    .create-account {
      h2 {
        border-top: 1mm ridge rgba(173, 185, 202, 0.6);
        margin: 10px auto;
        padding: 20px 0;
      }
    }
    input.form-text {
      max-width: 240px;
      margin: 5px auto;
      }
    .captcha {
      display: inline-block;
      margin: 10px auto;
    }
    .g-recaptcha {
      margin: 0 auto;
      display: inline-block;
      text-align: center;
    }
}

.block-dolce-user-links {
  display: inline-block;
  #dolce-user-links-block {
    position: relative;
    font-family: @cartfont;
    font-weight: 400;
    max-width: 130px;
    text-align: center;
    display: inline-block;
    a, span {
      display: block;
      text-decoration: none;
    }
    .dolce-user-links {
      background-image: url('../images/account_anonymous60.png');
      background-repeat: no-repeat;
      height: 60px;
      width: 60px;
      display: block;
      margin: auto;
      margin-bottom: 10px;
      background-size: contain;
      background-position: center bottom;
      background-repeat: no-repeat;
    }
    .dolce-user-links.login-connected {
      background-image: url('../images/account_picto_connected60.png');
    }
  }
}

#block-dolce-user-links-dolce-user-links-profile.block-dolce-user-links {
  display: block;
  #dolce-user-links-inside {
    .dolce-user-links-inside-item {
      .dolce-user-links-inside-link-wrapper {
        border: 1px solid #1a1a1a;
        padding: 15px;
        margin: 10px 0px;
        a {
          color: black;
          text-decoration: none;
          .dolce-user-links-inside-icon {
            display: block;
            margin: auto;
            text-align: center;
            padding: 15px 15px 0px 15px;
          }
          .dolce-user-links-inside-title {
            padding: 15px 15px 15px 15px;
            display: block;
            font-size: 16px;
            text-align: center;
          }
        }
        a:hover {
          .dolce-user-links-inside-icon {
            color: @checkoutheader;
          }
        }
      }
    }
  }
}

#block-dolce-user-links-dolce-user-links-logout.block-dolce-user-links, #block-dolce-user-links-dolce-user-links-goback-account.block-dolce-user-links  {
  max-width: 220px;
  display: block;
  margin: 5px auto;
  .dolce-user-links-logout-wrapper, .dolce-user-links-profile-wrapper {
    background: black;
    padding: 10px;
    display: block;
    margin: auto;
  }
  a.dolce-user-logout, a.dolce-user-profile {
    color: white;
    line-height: 20px;
    font-size: 20px;
    margin: auto;
    text-align: center;
    display: block;
  }
}
#block-dolce-user-links-dolce-user-links-goback-account.block-dolce-user-links {
  max-width: 290px;
}

#commerce_backoffice_user_orders {
  .view-empty {
    padding: 25px;
    border: 1px solid black;
    text-align: center;
  }
}

.page-user-addressbook {
  .action-links {
    text-align: center;
  }

  .commerce-addressbook-links-wrapper {
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    .commerce-addressbook-billing-link-wrapper, .commerce-addressbook-shipping-link-wrapper, .commerce-addressbook-create-link {
      display: inline-block;
      max-width: 260px;
      border: 1px solid black;
      padding: 10px;
      margin: 10px;
      .commerce-addressbook-link {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 14px;
        text-decoration: none;
        color: black;
        i {
          margin-right: 10px;
        }
      }
      .commerce-addressbook-link:hover {
        i {
          color: @checkoutheader;
        }
      }
    }
  }
  #commerce-addressbook, #commerce-addressbook-profile-options-delete-form {
    max-width: 640px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #1a1a1a;
    text-align: center;
    .views-field-rendered-entity {
      margin: 10px 0px;
      box-shadow: 1px 1px 4px 1px #ccc;
      display: inline-block;
      padding: 10px;
    }
    .commerce-addressbook-default {
    }
    .commerce-addressbook-others {
      ul {
        display: inline-block;
      }
    }
  }
}

#dolce-userpoints {
  .dolce-userpoints-empty {
    text-align: center;
    font-size: 18px;
    padding: 10px;
  }
  .dolce-userpoints-points-wrapper {
    width: 200px;
    height: 100px;
    margin: 15px auto;
    border: 1px solid #e7e7e7;
    padding: 10px;
    color: white;
    background: @zoneuserbg;
    text-align: center;

    .dolce-userpoints-points {
      font-size: 30px;
      font-weight: 700;
    }
    .dolce-userpoints-points-text {
      font-size: 24px;
    }
  }
}