::-webkit-media-control-panel {
  display: none !important;
}
.center-block {
  float: none;
}
.change-language {
  font-size: '16px';
  font-weight: bold;
  margin: 5px 0;
  text-align: center;
}
.change-language .flag {
  line-height: 12px;
}
#event {
  border: 2px solid #0d3349;
  border: 2px solid #7e8c94;
}
#event .btn-primary {
  background: #557b9d;
  border-color: #0d3349;
}
#event .btn-primary:hover {
  background-color: #1967be;
  border-color: #1862b5;
}
#event .qa-wrapper,
#event .zoom-wrapper,
#event .shoutbox-wrapper {
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
}
#event #promotionnal {
  margin: 20px 0;
}
#event .margin10-col {
  margin: 10px 0px;
}
#event #video #controls {
  margin: 5px;
  text-align: center;
}
#event #video #controls #fr-caption i {
  background: linear-gradient(to right, #ffffff, #0000ff, #ffffff, #ffffff, #ff0000, #ffffff);
  line-height: 0.7 !important;
}
#event #video #controls #no-caption i {
  background: linear-gradient(to right, #797979, #797979);
  line-height: 0.7 !important;
}
#event #video #controls #fr-caption,
#event #video #controls #no-caption,
#event #video #controls #mute,
#event #video #controls #unmute {
  cursor: pointer;
  display: inline-block;
  margin: 5px;
}
#event #video .video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
#event #video .video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
#event #video .video-responsive #overlay {
  background: rgba(254, 254, 254, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  -webkit-filter: blur(0px);
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}
#event #video .video-responsive .center-div {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
}
#event .qa-wrapper form label {
  display: none;
}
#event .qa-wrapper form #name,
#event .qa-wrapper form #questions,
#event .qa-wrapper form #subject {
  width: 40%;
  margin: 0 auto;
}
#event .qa-wrapper .qa-message {
  margin: 10px;
  font-size: 16px;
}
#event .zoom-wrapper {
  background: #557b9d;
  color: #ffffff;
  padding: 10px 0;
}
#event .zoom-wrapper .zoom {
  font-size: 18px;
}
#event .zoom-wrapper .zoom a {
  color: #ffffff;
}
#event .shoutbox-wrapper .shoutbox {
  text-align: left;
}
#event .shoutbox-wrapper .shoutbox .panel {
  border: none;
}
#event .shoutbox-wrapper .shoutbox #shoutbox-body {
  border-top: 1px solid #d2d2d2;
  overflow-y: auto;
  height: 400px;
}
#event .shoutbox-wrapper .shoutbox #shoutbox-body .table {
  margin: 0;
}
#event .shoutbox-wrapper .shoutbox #shoutbox-body table.table > tbody > tr > td {
  border-top: none;
}
#event .shoutbox-wrapper .shoutbox #shoutbox-body table tr {
  border: none;
}
#event .shoutbox-wrapper .shoutbox #shoutbox-body table tr td {
  border: none;
}
#event .shoutbox-wrapper .shoutbox #shoutbox-body span.shoutbox-current-user-name,
#event .shoutbox-wrapper .shoutbox #shoutbox-body span.shoutbox-current-user-name a,
#event .shoutbox-wrapper .shoutbox #shoutbox-body span.shoutbox-current-user-name a:visited {
  color: #da760c;
}
#event .shoutbox-wrapper .shoutbox #shoutbox-add-form .form-submit {
  float: right;
  margin: 0;
}
#event .shoutbox-wrapper .shoutbox #edit-nick {
  display: none;
}
#event .dolce-book-wrapper {
  margin: 0 auto;
  text-align: center;
}
#event .dolce-book-wrapper img {
  display: inline-block;
}
